<div class="progress">
  <div class="progress-bar" role="progressbar" style="{{progressStyle}}"
       aria-valuenow="{{options.voteCount}}" aria-valuemin="0" aria-valuemax="{{model.voteCount}}">
    {{option.voteCount}} {{format-number percentage format="0%"}}
  </div>
</div>
